@font-face {
  font-family: 'BlackHanSans';
  src: url('../public/BlackHanSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas';
  src: url('../public/BebasNeue-Regular.ttf') format('truetype');
}

.connectedAddress {
  margin-top: 10px; /* Add spacing between the image and the connected address */
  font-size: 18px;
  color: #fff; /* Change the text color */
  padding: 10px;
  padding-left: 15px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  align-items: center;
}

.cardEmbed {
  position: relative;
  width: 400px;
  height: 120px;
}

.cardImage {
  position: relative;
  width: 200%;
  height: 200%;
  align-items: center;
}

.connectEmbed {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20%;
  transform: translate(-50%, -50%);
}

.main {
  background: #161616;
}

.container {
  width: 100%;
  max-width: 100rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

.centeredCard {
  background-color: #232323;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 500px;
  overflow: none;
  border: none;
  padding: 1rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.centeredCard h1 {
  margin-bottom: 0px;
}
.centeredCard input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  height: 48px;
  font-size: 16px;
}
.centeredCard button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.centeredCard button:disabled {
  background-color: #333;
  cursor: not-allowed;
}
.centeredCard button:hover {
  background-color: teal;
}
.Card {
  height: 100%;
  width: 100%;
}
.email{
  position: absolute;
  margin-top: 70px;
}
.login{
  position: absolute;
  margin-top: 170px;
}
.emailtag {
  position: absolute;
  margin-top: 73px;
  border: none; /* Turn off borders */
  background: none; /* Turn off background */
  outline: none;
  letter-spacing: 1px;
  height: 31px;
  color: white;
  font-family: 'BlackHanSans';
  margin-left: 45px;
  width: 215px;
}
.emailtag:focus {
  border: white; /* Turn off borders */
  background: none; /* Turn off background */
  outline: none;
}
.box{
  height: 31px;
  position: absolute;
  width: 260px;
  font-family: 'BlackHanSans';
  font-size: 10px;
  border-radius: 10px;
  border: 0.2px solid #FFF;
  background: linear-gradient(271deg, #2A2A2A 0.19%, #1E1E1E 100.37%); 
  color: white;
  margin-top: 160px;/* Add your desired background color */
}
.cancel{
  height: 31px;
  position: relative;
  width: 170px;
  font-family: 'BlackHanSans';
  font-size: 15px;
  border-radius: 10px;
  border: 0.2px solid #FFF;
  background: linear-gradient(271deg, #2A2A2A 0.19%, #1E1E1E 100.37%); 
  color: white;
  top: 30px;
}
.gho1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gho2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbox {
    width: 99%;
    position: absolute;
    left: 0.5%;
    top: 3%;
}
.rectangle {
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(40px) brightness(100%);
  background: linear-gradient(180deg, rgb(45, 45, 45) 0%, rgb(25, 25, 25) 100%);
  border: 0.3px solid;
  border-color: #ffffff;
  border-radius: 34px;
  height: 7rem;
}
.logo1 {
  position: absolute;
  top: 20%;
  left: 2%;
}
.nav1 {
  position: absolute;
  top: 35%;
  font-family: 'BlackHanSans';
  font-size: 20px;
  left: 35%;
  color: white;
}
.nav2 {
  position: absolute;
  top: 35%;
  font-family: 'BlackHanSans';
  font-size: 20px;
  left: 47%;
  color: white;
}
.nav3 {
  position: absolute;
  top: 35%;
  font-family: 'BlackHanSans';
  font-size: 20px;
  color: white;
  left: 61%;
}
.nav1:hover{
  transform: scale(1.15);
  }
.nav2:hover{
transform: scale(1.15);
}
.nav3:hover{
transform: scale(1.15);
}
.navtitle {
  justify-content: space-between;
}
.centeredContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.ghocard{
  top: 100px;
}
.flexbutton button{
  left: 2rem;
}
.flexbutton button{
  margin-right: 2rem;
}
.flexbutton :nth-child(1){
  margin-left: 2rem;
}
.enlarge-on-hover:hover {
  transform: scale(1.10); /* Adjust the scaling factor as needed */
}
.tableContainer {
  width: 80%; /* Adjust the width as needed */
  margin: auto;
}

.loanTable {
  width: 100%;
  borderCollapse: collapse;
  marginTop: 20px;
  background: #1a1a1a;
  color: #FFFFFF;
}
.navtitle button{
  position: absolute;
  color: white;
  left: 85%;
  top: 33%;
}
.box1{
  height: 35px;
  position: absolute;
  width: 170px;
  font-family: 'BlackHanSans';
  font-size: 15px;
  border-radius: 10px;
  border: 0.2px solid #FFF;
  background: linear-gradient(271deg, #2A2A2A 0.19%, #1E1E1E 100.37%); 
  color: white;/* Add your desired background color */
}
/* Home.module.css */

.dropdownContainer {
  position: absolute;
  top: 35%;
  font-family: 'BlackHanSans';
  font-size: 25px;
  left: 48%;
  color: white;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdownContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdownContent a:hover {
  background-color: #555;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}

.showDropdown {
  display: block;
}
.chevron{
  font-size: medium;
}
.table1{
  height: 35px;
  width: 170px;
  font-family: 'BlackHanSans';
  font-size: 15px;
  border-radius: 10px;
  border: 0.2px solid #FFF;
  background: linear-gradient(271deg, #2A2A2A 0.19%, #1E1E1E 100.37%); 
  color: white;/* Add your desired background color */
}